<h2>Reactive: <small>Dinamicos</small></h2>
<hr>

<form  autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" type="text"
                   formControlName="nombre"
                   placeholder="Nombre de la persona">
                   <span 
                   *ngIf="esValido('nombre')"
                   class=" form-text text-danger">Este campo es obligatorio</span>
        </div>
    </div>

    <!-- Agregar -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">

                <input 
                class="form-control" 
                type="text"
                [formControl]="nuevoFavorito"
                placeholder="Agregar favorito"
                (keyup.enter)="agregarFavorito()">

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarFavorito()">Agregar</button>

            </div>

        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos"
        >
            <div class="input-group mb-1" *ngFor="let favorito of favortiosArr.controls; let i=index">

            <input
            class="form-control" 
            type="text"
            [formControlName]="i">

            <button class="btn btn-outline-danger"
            type="button"
            (click)="borrar(i)">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br>
<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<span>Agregarjuego </span>
<pre>{{ nuevoFavorito.valid }}</pre>
